<p><%= @users.all.inspect.to_s.gsub!(/<|>/, '') %></p>
<p><%= @cans.all.inspect.to_s.gsub!(/<|>/, '') %></p>
<p><%= @greetings.all.inspect.to_s.gsub!(/<|>/, '') %></p>
<p><%= @meals.all.inspect.to_s.gsub!(/<|>/, '') %></p>
<p><%= @donations.all.inspect.to_s.gsub!(/<|>/, '') %></p>
